In [3]:
import numpy as np
import pandas as pd

# Tratamento de dados

In [4]:
df = pd.read_csv('../datasets/raw/gender_classification.csv')
df_processed = df.copy()

In [5]:
df_processed.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

Verificar itens nulos

In [6]:
df_processed.isna().sum()

long_hair                    0
forehead_width_cm            0
forehead_height_cm           0
nose_wide                    0
nose_long                    0
lips_thin                    0
distance_nose_to_lip_long    0
gender                       0
dtype: int64

Observar tipo das colunas e a quantidade aproximada de uso da mem√≥ria

In [7]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   int64
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   int64
 4   nose_long                  5001 non-null   int64
 5   lips_thin                  5001 non-null   int64
 6   distance_nose_to_lip_long  5001 non-null   int64
 7   gender                     5001 non-null   object
dtypes: float64(2), int64(5), object(1)
memory usage: 312.7+ KB

In [8]:
df_processed.memory_usage(deep=True)

Index                           128
long_hair                     40008
forehead_width_cm             40008
forehead_height_cm            40008
nose_wide                     40008
nose_long                     40008
lips_thin                     40008
distance_nose_to_lip_long     40008
gender                       310063
dtype: int64

In [9]:
df_processed.memory_usage(deep=True).sum()

590247

Ver o tipo de dados

In [10]:
[print(f"{item}: {df_processed[item].unique()}") for item in list(df_processed.columns)]

long_hair: [1 0]
forehead_width_cm: [11.8 14.  14.4 13.5 13.  15.3 11.9 12.1 12.5 15.5 14.7 14.5 14.2 15.2
 14.6 12.8 12.9 12.2 12.3 12.7 14.1 11.5 13.8 13.7 12.  11.4 15.4 13.3
 13.2 14.3 13.9 11.7 15.1 15.  12.4 11.6 12.6 14.8 13.1 13.4 13.6 14.9]
forehead_height_cm: [6.1 5.4 6.3 5.9 6.8 6.2 5.2 5.8 6.7 6.5 6.  5.6 7.  6.4 5.3 5.7 5.1 5.5
 7.1 6.6 6.9]
nose_wide: [1 0]
nose_long: [0 1]
lips_thin: [1 0]
distance_nose_to_lip_long: [1 0]
gender: ['Male' 'Female']

[None, None, None, None, None, None, None, None]

In [11]:
items = ["long_hair",
        "nose_wide",
        "nose_long",
        "lips_thin",
        "distance_nose_to_lip_long"
]

df_processed[items] = df_processed[items].astype("bool")
df_processed.gender = df_processed.gender.astype("category")

In [12]:
df_processed.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,True,11.8,6.1,True,False,True,True,Male
1,False,14.0,5.4,False,False,True,False,Female
2,False,11.8,6.3,True,True,True,True,Male
3,False,14.4,6.1,False,True,True,True,Male
4,True,13.5,5.9,False,False,False,False,Female

Observar ganho em memoria

In [13]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   long_hair                  5001 non-null   bool
 1   forehead_width_cm          5001 non-null   float64
 2   forehead_height_cm         5001 non-null   float64
 3   nose_wide                  5001 non-null   bool
 4   nose_long                  5001 non-null   bool
 5   lips_thin                  5001 non-null   bool
 6   distance_nose_to_lip_long  5001 non-null   bool
 7   gender                     5001 non-null   category
dtypes: bool(5), category(1), float64(2)
memory usage: 107.7 KB

In [14]:
df_processed.memory_usage(deep=True)

Index                          128
long_hair                     5001
forehead_width_cm            40008
forehead_height_cm           40008
nose_wide                     5001
nose_long                     5001
lips_thin                     5001
distance_nose_to_lip_long     5001
gender                        5233
dtype: int64

In [15]:
df_processed.memory_usage(deep=True).sum()

110382

Importar o dataset processado

In [16]:
df_processed.to_pickle("../datasets/processed/gender_classification.pkl")